@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
/* styles.css */

a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    
}
.background-container {
    position: relative; /* Needed for absolutely positioned content within */
    width: 100%;
    height: 100vh; /* Adjust this as needed */
    overflow: hidden; /* Hide overflowing video */
}

.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%; /* Cover the whole container */
    z-index: -1; 
    height: fit-content;
}

*{
    margin:0;
    padding:0;
}
nav{
    font-family: 'Ubuntu',sans-serif;

}
nav ul{
    display:flex;
    list-style-type:none;
    height:90px;
    background-color: #303030;
    align-items:center;
}
nav ul li{
    color:white;
    font-size: 22px;
    padding:0 20px;
}
.brand{
    display:flex;
    align-items:center;
}
.one{
    font-size: xx-large;
    font-weight: bolder;
    color:red;
}
.bottom{
    position: fixed;
    bottom: 0px;
    height:75px;
    width: 100%;
    background-color:#303030;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.icons{
    margin-top:10px;
    margin-bottom: 20px;
}
.container{
    display:flex;
    margin-top:10px;
    margin-bottom: 100px;
    margin-left:130px;
    min-height:85vh; 
    width:75%;
    height:20%;
    background-color: black;
    color:white;
    font-family: 'Ubuntu',sans-serif;
    border-radius: 12px;
    padding:40px;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
}
#myprogressbar{
    margin-top:20px;
    width:89vW;
    cursor: pointer;
}

.songItem{
    color:#303030;
    font-weight: bold;
    height:30px;
    display: flex;
    background-color:white;
    width:130%;
    margin:15px 0 0;
    justify-content:space-between;
    align-items: center;
    padding:5px;
    border-radius: 200px;
}
.songItem img{
    border-radius: 900px;
}
.timestamp{
    text-align:center;
}
.gif{
    height: 50px;
    width:50px;
}
.songInfo{
    position:absolute;
    left:8px;
}
.songInfo1{
    top:9px;
    position:absolute;
    left:1158px;
}
.songInfo2{
    top:24px;
    position:absolute;
    left:65px;
}
.gifm{
    height:35px;
    width:90px;
}
.su{
    cursor: pointer;
}
.foot{
   color:white;
   display: flex;
   font-family: 'Ubuntu',sans-serif;
   top:33px;
   font-weight: 300;
   font-size: larger;
}
.songInfo2 img{
   opacity:0;
   transition:opacity 1s ease-in;
}
.fa-circle-play{
    cursor: pointer;
}